<mat-toolbar>
    <span class="fill-remaining-space"></span>
    <span class="header" *ngIf="action=='New'">New Mean Arterial Pressure</span>
    <span class="header" *ngIf="action=='Edit'">Update Mean Arterial Pressure</span>
    <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <form [formGroup]="bloodPressureFormGroup" class="normal-form">
    <large *ngFor="let error of errormessages" class="error-message">
      {{error}}
    </large>
    <mat-error *ngIf="bloodPressureFormGroup.errors?.numberOutOfRange">Please check numbers</mat-error>
    <mat-grid-list cols="2" rowHeight="300px">
      <mat-grid-tile class="mat-grid-tile">
        <div class="controls-container">
          <input type="hidden" formControlName="BloodPressureID">
          <mat-form-field bloodPressureFormGroup class="common-mat-input" id="BPIndex">
            <mat-label>MAP Index</mat-label>
            <input matInput placeholder="Enter Unique MAP Index*" formControlName="BPIndex">
            <mat-error *ngIf="bloodPressureFormGroup.controls['BPIndex'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['BPIndex'].errors?.serverError">{{bloodPressureFormGroup.controls['BPIndex'].errors?.serverError}}</mat-error>
          </mat-form-field>
          <mat-form-field bloodPressureFormGroup class="common-mat-input" id="LowMAP">
            <mat-label>Critical Low MAP</mat-label>
            <input matInput type="number" placeholder="Enter Critical Low MAP*" formControlName="LowMAP" ng-ip-address>
            <mat-error *ngIf="bloodPressureFormGroup.controls['LowMAP'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['LowMAP'].errors?.min">Must be a positive integer.</mat-error>            
            <mat-error *ngIf="bloodPressureFormGroup.controls['LowMAP'].errors?.greaterThan">{{bloodPressureFormGroup.controls.LowMAP.errors.greaterThan.message}}</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['LowMAP'].errors?.serverError">{{bloodPressureFormGroup.controls['LowMAP'].errors?.serverError}}</mat-error>
          </mat-form-field>
          <mat-form-field bloodPressureFormGroup class="common-mat-input" id="NormalLowMAP">
            <mat-label>Low MAP</mat-label>
            <input matInput type="number" placeholder="Enter Low MAP*" formControlName="NormalLowMAP">
            <mat-error *ngIf="bloodPressureFormGroup.controls['NormalLowMAP'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['NormalLowMAP'].errors?.min">Must be a positive integer.</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['NormalLowMAP'].errors?.greaterThan">{{bloodPressureFormGroup.controls.NormalLowMAP.errors.greaterThan.message}}</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['NormalLowMAP'].errors?.serverError">{{bloodPressureFormGroup.controls['NormalLowMAP'].errors?.serverError}}</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="mat-grid-tile">
        <div class="controls-container">  
          <mat-form-field bloodPressureFormGroup class="common-mat-input" id="NormalHighMAP">
            <mat-label>High MAP</mat-label>
            <input matInput type="number" placeholder="Enter High MAP*" formControlName="NormalHighMAP">
            <mat-error *ngIf="bloodPressureFormGroup.controls['NormalHighMAP'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['NormalHighMAP'].errors?.min">Must be a positive integer.</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['NormalHighMAP'].errors?.greaterThan">{{bloodPressureFormGroup.controls.NormalHighMAP.errors.greaterThan.message}}</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['NormalHighMAP'].errors?.serverError">{{bloodPressureFormGroup.controls['NormalHighMAP'].errors?.serverError}}</mat-error>
          </mat-form-field>
          <mat-form-field bloodPressureFormGroup class="common-mat-input" id="HighMAP">
            <mat-label>Critical High MAP</mat-label>
            <input matInput type="number" placeholder="Enter Critical High MAP*" formControlName="HighMAP">
            <mat-error *ngIf="bloodPressureFormGroup.controls['HighMAP'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['HighMAP'].errors?.min">Must be a positive integer.</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['HighMAP'].errors?.greaterThan">{{bloodPressureFormGroup.controls.HighMAP.errors.greaterThan.message}}</mat-error>
            <mat-error *ngIf="bloodPressureFormGroup.controls['HighMAP'].errors?.serverError">{{bloodPressureFormGroup.controls['HighMAP'].errors?.serverError}}</mat-error>
          </mat-form-field>    
          
          <div class="button-row">
            <button mat-raised-button color="primary" (click)="saveBloodPressure(bloodPressureFormGroup.value)" [disabled]="!bloodPressureFormGroup.valid">Submit</button>
            <button mat-stroked-button color="Basic" (click)="cancelBloodPressure()">Cancel</button>
          </div>
        </div>
      </mat-grid-tile>
      </mat-grid-list>
  
  </form>
  