.mat-raised-button{
  margin: 10px 15px;
}
.mat-stroked-button{
  margin: 10px 15px;
}
.mat-stroked-button.mat-primary, .mat-raised-button.mat-primary, .mat-fab.mat-primary, .mat-mini-fab.mat-primary{
  background-color: #1003a0;
}
