  
  <mat-toolbar>
  <span class="fill-remaining-space"></span>
  <span class="header" *ngIf="action=='New'">New Person</span>
  <span class="header" *ngIf="action=='Edit'">Update Person</span>
  <span class="fill-remaining-space"></span>
  </mat-toolbar>
  <form [formGroup]="peopleFormGroup" class="normal-form">
    <large *ngFor="let error of serverErrors" class="error-message">
      {{error}}
    </large>
  
    <mat-grid-list cols="2" rowHeight="400px">
      <mat-grid-tile class="mat-grid-tile">
        <img *ngIf="editPeople.ImageUrl" src='{{editPeople.ImageUrl}}' width=150px height=150px />
        <img *ngIf="!editPeople.ImageUrl && action=='Edit'" src='/static/No Photo/No-photo-available.jpg' width=150px height=150px />
        <div class="controls-container">
          <mat-form-field appearance="standard" peopleFormGroup class="common-mat-input" id="ImageUrl">
            <mat-label>Upload Person Image</mat-label>
            <ngx-mat-file-input required=false formControlName="ImageUrl" placeholder="Upload Image" (change)="onImageChanged($event)" accept="image/*" ></ngx-mat-file-input>
            <mat-icon matSuffix>add_photo_alternate</mat-icon>
          </mat-form-field> 

          <mat-form-field peopleFormGroup class="common-mat-input" id="FirstName">
            <mat-label>First Name*</mat-label>
            <input matInput placeholder="Enter First Name*" formControlName="FirstName">
            <mat-error *ngIf="peopleFormGroup.controls['FirstName'].errors?.required">This field is mandatory</mat-error>
            <mat-error *ngIf="peopleFormGroup.controls['FirstName'].errors?.pattern">Only alphabets allowed</mat-error>
            <mat-error *ngIf="peopleFormGroup.controls['FirstName'].errors?.fieldError">
              {{peopleFormGroup.controls['FirstName'].errors?.fieldError}}</mat-error>
          </mat-form-field>

          <mat-form-field peopleFormGroup class="common-mat-input" id="LastName">
            <mat-label>Last Name*</mat-label>
            <input matInput placeholder="Enter Last Name*" formControlName="LastName">
            <mat-error *ngIf="peopleFormGroup.controls['LastName'].errors?.required">This field is mandatory</mat-error>
            <mat-error *ngIf="peopleFormGroup.controls['LastName'].errors?.pattern">Only alphabets allowed</mat-error>
            <mat-error *ngIf="peopleFormGroup.controls['LastName'].errors?.fieldError">
              {{peopleFormGroup.controls['LastName'].errors?.fieldError}}</mat-error>
          </mat-form-field>

          <mat-form-field peopleFormGroup class="common-mat-input" id="RoleID">
            <mat-label>Role</mat-label>
            
            <mat-select placeholder="Choose Role" [(value)]="selectedRole" formControlName="RoleID">
              <mat-option  [value]="null" >
                -Unknown-
              </mat-option>
              <mat-option *ngFor="let person_role of roles" [value]="person_role.value">
                {{person_role.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="peopleFormGroup.controls['RoleID'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="peopleFormGroup.controls['RoleID'].errors?.fieldError">
              {{peopleFormGroup.controls['RoleID'].errors?.fieldError}}</mat-error>
          </mat-form-field>
          <mat-form-field peopleFormGroup class="common-mat-input" id="TeamID">
            <mat-label>Crew</mat-label>
            <mat-select placeholder="Choose Team*" [(value)]="selectedTeam" formControlName="TeamID">
              <mat-option  [value]="null" >
                -None-
              </mat-option>
              <mat-option *ngFor="let team of teams" [value]="team.value">
                {{team.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="peopleFormGroup.controls['TeamID'].errors?.required">This field is mandatory.</mat-error>
            <mat-error *ngIf="peopleFormGroup.controls['TeamID'].errors?.fieldError">
              {{peopleFormGroup.controls['TeamID'].errors?.fieldError}}</mat-error>
          </mat-form-field>

        </div>
      </mat-grid-tile>
      <mat-grid-tile class="mat-grid-tile">
        <div class="controls-container">
            <mat-form-field peopleFormGroup class="common-mat-input" id="HeartRateID">
              <mat-label>HR Threshold</mat-label>
              <mat-select placeholder="Choose HR*" [(value)]="selectedHR" formControlName="HeartRateID">
                <mat-option  [value]="null" >
                  -None-
                </mat-option>
                <mat-option *ngFor="let hr of HRIndexes" [value]="hr.value">
                  {{hr.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="peopleFormGroup.controls['HeartRateID'].errors?.required">This field is mandatory.</mat-error>
              <mat-error *ngIf="peopleFormGroup.controls['HeartRateID'].errors?.fieldError">
                {{peopleFormGroup.controls['HeartRateID'].errors?.fieldError}}</mat-error>
            </mat-form-field>
            <mat-form-field peopleFormGroup class="common-mat-input" id="BloodPressureID">
              <mat-label>BP Threshold</mat-label>
              <mat-select placeholder="Choose BP*" [(value)]="selectedBP" formControlName="BloodPressureID">
                <mat-option  [value]="null" >
                  -None-
                </mat-option>
                <mat-option *ngFor="let bp of BPIndexes" [value]="bp.value">
                  {{bp.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="peopleFormGroup.controls['BloodPressureID'].errors?.required">This field is mandatory.</mat-error>
              <mat-error *ngIf="peopleFormGroup.controls['BloodPressureID'].errors?.fieldError">
                {{peopleFormGroup.controls['BloodPressureID'].errors?.fieldError}}</mat-error>
            </mat-form-field>
            <mat-form-field peopleFormGroup class="common-mat-input" id="HeatIndexID">
              <mat-label>HI Threshold</mat-label>
              <mat-select placeholder="Choose HI" [(value)]="selectedHI" formControlName="HeatIndexID">
                <mat-option  [value]="null" >
                  -None-
                </mat-option>
                <mat-option *ngFor="let hi of HIIndexes" [value]="hi.value">
                  {{hi.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="peopleFormGroup.controls['HeatIndexID'].errors?.required">This field is mandatory.</mat-error>
              <mat-error *ngIf="peopleFormGroup.controls['HeatIndexID'].errors?.fieldError">
                {{peopleFormGroup.controls['HeatIndexID'].errors?.fieldError}}</mat-error>
            </mat-form-field>
            <mat-form-field peopleFormGroup class="common-mat-input" id="SpO2ID">
              <mat-label>SpO2 Threshold</mat-label>
              <mat-select placeholder="Choose SPO2" [(value)]="selectedSpO2" formControlName="SpO2ID">
                <mat-option  [value]="null" >
                  -None-
                </mat-option>
                <mat-option *ngFor="let sp of SPIndexes" [value]="sp.value">
                  {{sp.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="peopleFormGroup.controls['SpO2ID'].errors?.required">This field is mandatory.</mat-error>
              <mat-error *ngIf="peopleFormGroup.controls['SpO2ID'].errors?.fieldError">
                {{peopleFormGroup.controls['SpO2ID'].errors?.fieldError}}</mat-error>
            </mat-form-field>
          
          <div class="button-row">
            <button mat-raised-button color="primary" (click)="savePerson(peopleFormGroup.value)" [disabled]="!peopleFormGroup.valid">Submit</button>
            <button mat-stroked-button color="Basic" (click)="cancelPerson()">Cancel</button>
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  
  </form>

  
  
  
