<div class="mat-elevation-z8">
  <button mat-icon-button>
    <mat-icon class="addIcons" style="color: green;" (click)="addHeatIndex()">add</mat-icon>
  </button>

  <table mat-table [dataSource]="dataSource" matSort>

    <!-- HI Index Column -->
    <ng-container matColumnDef="HIIndex">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> HI Index </th>
      <td mat-cell *matCellDef="let row"> {{row.HIIndex}} </td>
    </ng-container>

    <!-- Moderate Risk Column -->
    <ng-container matColumnDef="ModerateRisk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Moderate Risk </th>
      <td mat-cell *matCellDef="let row"> {{row.ModerateRisk}} </td>
    </ng-container>

    <!-- HighRisk Column -->
    <ng-container matColumnDef="HighRisk">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> High Risk </th>
      <td mat-cell *matCellDef="let row"> {{row.HighRisk}} </td>
    </ng-container>


    <ng-container matColumnDef="Actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button>
          <mat-icon (click)="updateHeatIndex(element)" style="color: green;">edit</mat-icon>
        </button>

        <button mat-icon-button>
          <mat-icon (click)="deleteHeatIndex(element)" style="color: red;">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
