<h3>Thresholds</h3>
<mat-tab-group dynamicHeight>
  <mat-tab label="Heart Rate">
    <div class="example-small-box mat-elevation-z4">
      <app-heart-rate></app-heart-rate>
    </div>
  </mat-tab>
  <mat-tab label="Heat Index">
    <div class="example-large-box mat-elevation-z4">
     <app-heat-index></app-heat-index>
    </div>
  </mat-tab>
  <mat-tab label="Blood Pressure (Mean Arterial Pressure MAP)">
    <div class="example-large-box mat-elevation-z4">
     <app-blood-pressure></app-blood-pressure>
    </div>
  </mat-tab>
  <mat-tab label="Oxygen (SpO2)">
    <div class="example-large-box mat-elevation-z4">
     <app-oxygen></app-oxygen>
    </div>
  </mat-tab>
</mat-tab-group>